@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, ::after , ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font1: 'Poppins', sans-serif;
    --font2: 'Montserrat', sans-serif;
    --main-color:#fb4b4b;
}
html{
    scroll-behavior: smooth;
}
@media screen and (max-width:1024px){
    .main-body .home .navbar-parent .navbar .navbar_toggle .bar{
        transition: all 500ms ease-in-out;
    }
    .main-body .home .navbar-parent .navbar .navbar_toggle.is-start .bar:nth-child(2){
        opacity: 0;
    }
    .main-body .home .navbar-parent .navbar .navbar_toggle.is-start .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .main-body .home .navbar-parent .navbar .navbar_toggle.is-start .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .main-body .home .navbar-parent .navbar .mobile-nav{
        background: linear-gradient(180deg, #444444 0%, #000000 100%);;
        transition: all 500ms ease-in-out;
        top: -1000px;
        position: absolute;
    }
    .main-body .home .navbar-parent .navbar .mobile-nav.start{
        top: 0;
        transition: all 0.5s ease-in-out;

    }
}
.main-body .home{
background-image: url(./resources/nasa.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}
.main-body .about{
    background: linear-gradient(180deg, #000000 0%, #313131 100%);
}

.main-body .service{
    background: linear-gradient(180deg, #000000 0%, #313131 100%);
}

.main-body .contact{
    background: linear-gradient(180deg, #000000 0%, #2F2F2F 100%);
}
h3{
    font-family: var(--font2);
}
h2,p{
    font-family: var(--font1);
}
.line{
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    width: 100px;
    height: 5px;
    border-radius: 100px;
}
.main-body .about .content-about .text-about .social-about{
    border: 5px solid var(--main-color);
    border-radius: 10px;
}

.form-button{
    background-color: var(--main-color);
    border-radius: 10px;
    border: 1px solid var(--main-color);
}
.main-body .service .content-service .services .service{
    border: 5px solid var(--main-color);
    border-radius: 10px;
}
a:hover{
    color: var(--main-color)
}

.active{
    color: var(--main-color);
}




